@tab: #333;
@white: white;
@black: black;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.5;
  font-size: 18px;
  width: 100vw;
}
img {
  width: 100%;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex {
  display: flex;
  // justify-content: center;
}
.space {
  display: flex;
  justify-content: space-between;
}
.show {
  opacity: 1 !important;
  display: block !important;
  transition: 1s;
}
.closer {
  animation: disappearLeft 0.5s ease-in-out;
}
.textSelect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.slider_container {
  width: 100vw;
  height: 100vh;
  background-color: #333;
  position: relative;
  .slide_bg {
    display: none;
    animation: appear 1s ease-in-out;
  }
  .slider_flex {
    position: absolute;
    width: 800px;
    height: 500px;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    .slider {
      position: relative;
      height: 100%;
      display: flex;
      justify-content: center;

      .slide {
        display: none;
        opacity: 0;
        &:nth-child(1) {
          order: 0;
        }

        img {
          width: 800px;
        }
      }

      .slider_btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        // border: 2px solid red;
        .space;
        .btn_left {
          width: 50px;
          height: 50px;
          background-color: plum;
          border-radius: 5px;
          position: relative;
          .textSelect;
          .center;
          &::before {
            content: "<";
          }
          &:hover {
            background-color: #333;
            color: white;
            cursor: pointer;
          }
        }
        .btn_right {
          width: 50px;
          height: 50px;
          background-color: plum;
          border-radius: 5px;
          .textSelect;
          .center;
          &::before {
            content: ">";
          }
          &:hover {
            background-color: #333;
            color: white;
            cursor: pointer;
          }
        }
      }
    }
  }
}

section {
  &:last-child {
    margin-bottom: 100px;
  }
}
// Tab
.open {
}

.tab_container {
  padding: 20px 40px;
  border-radius: 5px;
  position: relative;
  background-color: @white;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
  cursor: pointer;
  // &:active {
  //   cursor: pointer;
  //   &::before {
  //     content: "\2716";
  //     position: absolute;
  //     top: 50%;
  //     width: 50px;
  //     height: 50px;
  //     background-color: @tab;
  //     color: @white;
  //     font-size: 25px;
  //     border-radius: 100%;
  //     transform: translate(-50%, -50%) rotate(0deg);
  //     .center;
  //   }
  // }
  &::before {
    transition: 0.3s ease-in-out;
    content: "\2716";
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    background-color: @tab;
    color: @white;
    font-size: 25px;
    border-radius: 100%;
    transform: translate(-50%, -50%) rotate(45deg);
    .center;
  }
  p {
    text-align: center;
  }
  .content {
    position: relative;
    transition: all 0.3s linear;
    height: 10px;
    padding: 0px 50px;
    overflow: hidden;

    .textSelect;
    p {
      text-align: left;
    }
    .all_content {
      margin-top: 30px;
      position: absolute;
      p {
        margin-bottom: 10px;
      }
      .text_content {
      }
      .image_conent {
        overflow: auto;
        .image_line {
          .center;
          flex-wrap: wrap;
          .img {
            margin-right: 25px;
            width: 300px;
            // overflow: hidden;
            // border: 2px solid red;
            img {
            }
          }
        }
      }
    }
  }
}
//
// My style
.bmw_section {
  height: 100vh;
  background-color: #f3f3f3;
  display: flex;
  justify-content: flex-end;
  position: relative;
  .bmw_left {
    float: left;
    width: 55%;
    height: 100%;
    shape-outside: polygon(0 0, 0 200px, 100% 400px, 100% 100%, 0 100%);
  }
  .bmw_right {
    position: relative;
    z-index: 10;
    flex-basis: 60%;
    text-align: right !important;
    padding: 0 40px;
    top: 20%;
    position: relative;
    font-family: "ProximaNovaRegular";
    margin-left: 20vw;
    p {
      font-size: 25px;
      margin: 0 0 10px;
    }
  }
  .left_icon {
    float: left;
    width: 55%;
    height: 100%;
    shape-outside: polygon(0 0, 0 200px, 100% 400px, 100% 100%, 0 100%);
  }
  .bmw_img {
    background-image: url(img/bmw-left.png);
    background-repeat: no-repeat;
    margin-top: 0px;
    width: 963px;
    height: 666px;
    right: 50%;
    bottom: -10vh;
    z-index: 10;
    position: absolute;
  }
}
//
.opportunity_section {
  overflow: hidden;
  height: 100vh;
  background-color: white;
  position: relative;
  .opr_left {
    padding: 0 40px;
    top: 5%;
    position: relative;
    font-family: "ProximaNovaRegular";
    position: relative;
    z-index: 10;
    top: 10%;
    .polygon-right {
      float: right;

      height: 100vh;
      width: 50% !important;
      shape-outside: polygon(100% 0, 0 100%, 0 16%);
    }
    margin-left: 30px;
    p {
      font-size: 25px;
      margin: 0 0 10px;
    }
  }
  .opr_img {
    background-repeat: no-repeat;
    width: 963px;
    left: 50%;
    right: 0;
    top: 0;
    position: absolute;
    img {
      // border: 2px solid red;
      // width: 100vw;
      // height: 100vh;
    }
  }
}

//
main {
  .pad {
    padding: 20px 40px;
  }
}
//
@media (max-width: 1370px) {
}
@media (max-width: 992px) {
  max-width: 500px !important;
}
@media (max-width: 767px) {
}
@media (max-width: 450px) {
}

.show_left {
  animation: appearLeft 0.5s ease-in-out !important;
}
.show_right {
  animation: appearLeft 0.5s ease-in-out;
}

@keyframes appear {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appearLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes appearRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes disappearLeft {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}
@keyframes disappearRight {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}
