* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  line-height: 1.5;
  font-size: 18px;
  width: 100vw;
}
img {
  width: 100%;
}
.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.space {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.show {
  opacity: 1 !important;
  display: block !important;
  -webkit-transition: 1s;
  transition: 1s;
}
.closer {
  -webkit-animation: disappearLeft 0.5s ease-in-out;
          animation: disappearLeft 0.5s ease-in-out;
}
.textSelect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.slider_container {
  width: 100vw;
  height: 100vh;
  background-color: #333;
  position: relative;
}
.slider_container .slide_bg {
  display: none;
  -webkit-animation: appear 1s ease-in-out;
          animation: appear 1s ease-in-out;
}
.slider_container .slider_flex {
  position: absolute;
  width: 800px;
  height: 500px;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  overflow: hidden;
}
.slider_container .slider_flex .slider {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider_container .slider_flex .slider .slide {
  display: none;
  opacity: 0;
}
.slider_container .slider_flex .slider .slide:nth-child(1) {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}
.slider_container .slider_flex .slider .slide img {
  width: 800px;
}
.slider_container .slider_flex .slider .slider_btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.slider_container .slider_flex .slider .slider_btn .btn_left {
  width: 50px;
  height: 50px;
  background-color: plum;
  border-radius: 5px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slider_container .slider_flex .slider .slider_btn .btn_left::before {
  content: "<";
}
.slider_container .slider_flex .slider .slider_btn .btn_left:hover {
  background-color: #333;
  color: white;
  cursor: pointer;
}
.slider_container .slider_flex .slider .slider_btn .btn_right {
  width: 50px;
  height: 50px;
  background-color: plum;
  border-radius: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slider_container .slider_flex .slider .slider_btn .btn_right::before {
  content: ">";
}
.slider_container .slider_flex .slider .slider_btn .btn_right:hover {
  background-color: #333;
  color: white;
  cursor: pointer;
}
section:last-child {
  margin-bottom: 100px;
}
.tab_container {
  padding: 20px 40px;
  border-radius: 5px;
  position: relative;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
  cursor: pointer;
}
.tab_container::before {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  content: "\2716";
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  background-color: #333333;
  color: #ffffff;
  font-size: 25px;
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tab_container p {
  text-align: center;
}
.tab_container .content {
  position: relative;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  height: 10px;
  padding: 0px 50px;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tab_container .content p {
  text-align: left;
}
.tab_container .content .all_content {
  margin-top: 30px;
  position: absolute;
}
.tab_container .content .all_content p {
  margin-bottom: 10px;
}
.tab_container .content .all_content .image_conent {
  overflow: auto;
}
.tab_container .content .all_content .image_conent .image_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.tab_container .content .all_content .image_conent .image_line .img {
  margin-right: 25px;
  width: 300px;
}
.bmw_section {
  height: 100vh;
  background-color: #f3f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}
.bmw_section .bmw_left {
  float: left;
  width: 55%;
  height: 100%;
  shape-outside: polygon(0 0, 0 200px, 100% 400px, 100% 100%, 0 100%);
}
.bmw_section .bmw_right {
  z-index: 10;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  text-align: right !important;
  padding: 0 40px;
  top: 20%;
  position: relative;
  font-family: "ProximaNovaRegular";
  margin-left: 20vw;
}
.bmw_section .bmw_right p {
  font-size: 25px;
  margin: 0 0 10px;
}
.bmw_section .left_icon {
  float: left;
  width: 55%;
  height: 100%;
  shape-outside: polygon(0 0, 0 200px, 100% 400px, 100% 100%, 0 100%);
}
.bmw_section .bmw_img {
  background-image: url(img/bmw-left.png);
  background-repeat: no-repeat;
  margin-top: 0px;
  width: 963px;
  height: 666px;
  right: 50%;
  bottom: -10vh;
  z-index: 10;
  position: absolute;
}
.opportunity_section {
  overflow: hidden;
  height: 100vh;
  background-color: white;
  position: relative;
}
.opportunity_section .opr_left {
  padding: 0 40px;
  top: 5%;
  font-family: "ProximaNovaRegular";
  position: relative;
  z-index: 10;
  top: 10%;
  margin-left: 30px;
}
.opportunity_section .opr_left .polygon-right {
  float: right;
  height: 100vh;
  width: 50% !important;
  shape-outside: polygon(100% 0, 0 100%, 0 16%);
}
.opportunity_section .opr_left p {
  font-size: 25px;
  margin: 0 0 10px;
}
.opportunity_section .opr_img {
  background-repeat: no-repeat;
  width: 963px;
  left: 50%;
  right: 0;
  top: 0;
  position: absolute;
}
main .pad {
  padding: 20px 40px;
}
@media (max-width: 992px) {
  max-width: 500px !important;
}
.show_left {
  -webkit-animation: appearLeft 0.5s ease-in-out !important;
          animation: appearLeft 0.5s ease-in-out !important;
}
.show_right {
  -webkit-animation: appearLeft 0.5s ease-in-out;
          animation: appearLeft 0.5s ease-in-out;
}
@-webkit-keyframes appear {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appear {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes appearLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@keyframes appearLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@-webkit-keyframes appearRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@keyframes appearRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@-webkit-keyframes disappearLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@keyframes disappearLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@-webkit-keyframes disappearRight {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@keyframes disappearRight {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
